@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F5F5F5];
    @apply text-base;
    @apply font-normal;
    @apply text-left;
    @apply text-[#212529];
    @apply leading-[1.5];
  }
}

@layer components {
  .responsive-design {
    @apply xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] w-screen h-screen pl-[15px] pr-[15px] mr-auto ml-auto;
  }
  .shadow-card {
    @apply shadow-[0_2px_2px_0_rgba(0,0,0,.14),0_3px_1px_-2px_rgba(0,0,0,.12),0_1px_5px_0_rgba(0,0,0,.2)];
  }
  .row {
    @apply flex flex-wrap mr-[-15px] ml-[-15px];
  }
  .col-auto {
    @apply flex-[0_0_auto] w-auto max-w-full pl-[15px] pr-[15px] relative;
  }
  .card-align {
    @apply mt-[20px] mb-[20px] p-[10px] bg-white;
  }
  .col {
    @apply basis-0 grow max-w-full relative w-full pr-[15px] pl-[15px];
  }
}

/* CSS for Spinner */

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}